.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .topContainer,
    .bottomContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: #002133;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: center;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input,
            select {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          .break {
            flex-basis: 100%;
            width: 0px;
            height: 0px;
            overflow: hidden;
          }

          button {
            width: 300px;
            padding: 10px;
            border: none;
            background-color: #0085cc;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
