

.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .topContainer,
    .bottomContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: #002133;
        font-size: 20px;
        font-family:Arial, Helvetica, sans-serif;
      }

      .right {
        flex: 2;
        .grid-container {
          display: grid;
          grid-template-columns: auto auto auto;
          padding: 10px;
        }
        .grid-item {
          padding: 20px;
          font-size: 30px;
          text-align: center;
        }
        .vl {
          border-left: 3px solid black;
          height: 500px;
          margin-left: 3px;
          margin-right: 3px;
        }
        
        hr {
          border-top: 3px solid black;
          margin-top: 3px;
        }
        
        h1 {
          color: black;
        }
        
        div {
          font-size: 15px;
        }

      }
    }
  }
}
