.list {
  display: flex;
  width: 100%;
  .listContainer {
    flex: 6;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.vl {
  border-left: 3px solid black;
  height: 500px;
  margin-left: 3px;
  margin-right: 3px;
}

hr {
  border-top: 3px solid black;
  margin-top: 3px;
}

h1 {
  color: black;
}

div {
  font-size: 15px;
}
